<!--The content below is only a placeholder and can be replaced.-->
<div class="index">
  <div style="text-align:center">
    <h1>
    {{ title }}!
    </h1>

    <img width="300" alt="Angular Logo" src="https://vignette.wikia.nocookie.net/battlenations/images/4/42/Veh_tank_mech_front_attack1.gif/revision/latest?cb=20150717211232">
    <button>Get all tasks</button>
  </div>


  <div class = "appComponent">
    <form (submit) = "userSubmitter()">
      <input type="text" placeholder="Just for adding to database" name = "heading" [(ngModel)] = "userSubmitting.heading">
      <button type="submit">Submit</button>
    </form>
    <div class = "formSubmission">

    </div>
  </div>
</div>
<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
 -->
