<div class="root">
    {{newTask | json}}
    <form (submit) = "makeNewTask()">
        <input type="text" placeholder="This is the empty" name="title" [(ngModel)]="newTask.title">
        <input type="text" placeholder="This is the desc" name="description" [(ngModel)]="newTask.description">
        <input type="submit" value='Submit'>
    </form>

    
</div>

<div class="root">
  <p *ngFor = 'let task of tasks'>Title: {{task.title}}, Description: {{task.description}}</p>

</div>
<div>
    <button (click)="onButtonClick()" >Click me!</button>
    <button (click)="onButtonClickParam(5)">Click me!</button>
    <button (click)="onButtonClickParams(5, 'hello')">Click me!</button>
    <button (click)="onButtonClickEvent($event)">Click me!</button>
    
</div>

